<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/products/basket.css" th:href="@{/css/products/basket.css}" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/fogicon32x32.png}">
<link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/fogicon48x48.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
<div class="page">
    <!-- BEGINNING OF NAV BAR -->
    <header>
        <div class="header-info">
            <ul>
                <li><a href="">30 dages returret</a></li>
                <li><a href="">Klik og hent inden for 3 timer*</a></li>
                <li><a href="">1-3 dages levering*</a></li>
                <li><a href="">Lån en trailer gratis</a></li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <a href="index.html" th:href="@{/}">
                        <img src="../public/images/foglogo.png" th:src="@{/images/foglogo.png}" alt=""/>
                    </a>
                </div>
                <div class="nav-categories">
                    <ul>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 1</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 2</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Tilbehør</a>
                            <div class="dropdown-content">
                                <a href="#" th:href="@{/kategori?category=skruer}">Skruer</a>
                                <a href="#" th:href="@{/kategori?category=søm}">Søm</a>
                                <a href="#" th:href="@{/kategori?category=lægte}">andet til carport LOL</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" th:href="@{/kategori?category=byggemateriale}" class="dropdown-button">Byggematerialer</a>
                            <div class="dropdown-content">
                                <a href="#" th:href="@{/kategori?category=lægte}">Lægter</a>
                                <a href="#" th:href="@{/kategori?category=brædde}">Brædder</a>
                                <a href="#" th:href="@{/kategori?category=tagplade}">Tagplader</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Maling</a>
                            <div class="dropdown-content">
                                <a href="#" th:href="@{/kategori?category=indendoers}">Indendørs</a>
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" th:href="@{/kategori?category=carport}" class="dropdown-button">Carporte</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="orderFlow/byg-carport.html" th:href="@{/orderFlow/byg-carport}">Byg selv</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <form class="nav-search-form">
                        <button class="nav-search-button" type="submit" formaction="/soegning">
                            <img src="../public/images/magnifyingglass64x64.png" th:src="@{/images/magnifyingglass64x64.png}" alt=""/>
                        </button>
                        <label>
                            <input type="text" placeholder="Søg på produkter eller kategorier" name="searchString" id="searchString">
                        </label>
                    </form>
                </div>
                <div class="nav-personal">
                    <ul>
                        <li><a th:if="${session.currentUser == null}" th:href="@{/login}">Log ind</a></li>
                        <li><a th:if="${session.currentUser != null}" th:text="${session.currentUser.getName()}" th:href="@{/profil}"></a></li>
                        <li><a href="">Find Fog</a></li>
                        <li><a href="" th:href="@{/kurv}" >Kurv</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- END OF NAV BAR -->
<div class="main" th:if="${session.currentUser != null && session.admin != null}">
    <div class="insidemain">
    <h1>Alle bestillinger:</h1>
    <h2>Afventer svar fra sælger:</h2>
    <ul class="listofthings">
        <li th:each="o : ${pending}" >
            <p th:text="'tidspunkt: ' + ${o.TimeOfOrder}"></p>
            <p th:text="'sælger: ' + ${o.EmployeeId}"></p>
            <p th:text="'kunde: ' + ${o.CustomerId}"></p>
            <p th:text="'pris: kr.' + ${o.GetBasePrice()}"></p>
            <p th:text="'note: ' + ${o.Note}"></p>
            <ul>
                <li class="listofthings" th:each="p,iterStat : ${o.ProductList}">
                    <p th:text="${o.ProductQuants.get(__${iterStat.index}__)}
                                + ' x ' + ${p.Name} + ' : kr. ' + ${p.Price}" > </p>
                <div class="listofthingsbuttons">
                <form action="/produkt">
                    <button class="good-button" name="id" th:value="${p.Id}">vis</button>
                </form>
                <form th:if="${p.IsCarport()}" action="/updateordercarport" method="post">
                    <input type="hidden" selected="selected" name="updateordercarportOID" th:value="${o.Id}">
                    <button class="good-button" name="updateordercarportPID" th:value="${p.Id}">Design ny carport</button>
                </form>

                <form action="/removeorderproduct" method="post">
                    <input type="hidden" selected="selected" name="oid" th:value="${o.Id}">
                    <button class="bad-button" name="pid" th:value="${p.Id}">fjern</button>
                </form>
                </div>
                </li>
            </ul>
            <div class="listofthingsbuttons">
            <form action="/approvependingorder" method="post">
                <button class="good-button" name="id" th:value="${o.Id}">godkend</button>
            </form>
            <form action="/removeorder" method="post">
                <button class="bad-button" name="id" th:value="${o.Id}">fjern</button>
            </form>
            </div>
        </li>
    </ul>
    <h2>Afventer svar fra kunde:</h2>
    <ul class="listofthings">
        <li th:each="o : ${validated}" >
            <p th:text="'tidspunkt: ' + ${o.TimeOfOrder}"></p>
            <p th:text="'sælger: ' + ${o.EmployeeId}"></p>
            <p th:text="'kunde: ' + ${o.CustomerId}"></p>
            <p th:text="'pris: kr.' + ${o.GetBasePrice}"></p>
            <p th:text="'note: ' + ${o.Note}"></p>
            <ul>
                <li class="listofthings" th:each="p,iterStat : ${o.ProductList}">
                    <p th:text="${o.ProductQuants.get(__${iterStat.index}__)}
                                + ' x ' + ${p.Name} + ' : kr. ' + ${p.Price}" > </p>
                <div class="listofthingsbuttons">
                <form action="/produkt">
                    <button class="good-button" name="id" th:value="${p.Id}">vis</button>
                </form>
                <form th:if="${p.IsCarport()}" action="/updateordercarport" method="post">
                    <input type="hidden" selected="selected" name="oid" th:value="${o.Id}">
                    <button class="good-button" name="pid" th:value="${p.Id}">Design ny carport</button>
                </form>

                <form action="/removeorderproduct" method="post">
                    <input type="hidden" selected="selected" name="oid" th:value="${o.Id}">
                    <button class="bad-button" name="pid" th:value="${p.Id}">fjern</button>
                </form>
                </div>
                </li>
            </ul>
            <form action="/removeorder" method="post">
                <button class="bad-button" name="id" th:value="${o.Id}">fjern</button>
            </form>
        </li>
    </ul>

    <h2>Afventer betaling:</h2>
    <ul class="listofthings">
        <li th:each="o : ${confirmed}" >
            <p th:text="'tidspunkt: ' + ${o.TimeOfOrder}"></p>
            <p th:text="'sælger: ' + ${o.EmployeeId}"></p>
            <p th:text="'kunde: ' + ${o.CustomerId}"></p>
            <p th:text="'pris: kr.' + ${o.GetBasePrice()}"></p>
            <p th:text="'note: ' + ${o.Note}"></p>
            <ul>
                <li class="listofthings" th:each="p,iterStat : ${o.ProductList}">
                    <p th:text="${o.ProductQuants.get(__${iterStat.index}__)}
                                + ' x ' + ${p.Name} + ' : kr. ' + ${p.Price}" > </p>
                <div class="listofthingsbuttons">
                <form action="/produkt">
                    <button class="good-button" name="id" th:value="${p.Id}">vis</button>
                </form>
                </div>
                </li>
            </ul>
        </li>
    </ul>

    <h2>Færdige:</h2>
    <ul class="listofthings">
        <li th:each="o : ${done}" >
            <p th:text="'tidspunkt: ' + ${o.TimeOfOrder}"></p>
            <p th:text="'sælger: ' + ${o.EmployeeId}"></p>
            <p th:text="'kunde: ' + ${o.CustomerId}"></p>
            <p th:text="'pris: kr.' + ${o.GetBasePrice()}"></p>
            <p th:text="'note: ' + ${o.Note}"></p>
            <ul>
                <li class="listofthings" th:each="p,iterStat : ${o.ProductList}">
                    <p th:text="${o.ProductQuants.get(__${iterStat.index}__)}
                                + ' x ' + ${p.Name} + ' : kr. ' + ${p.Price}" > </p>
                <div class="listofthingsbuttons">
                <form action="/produkt">
                    <button class="good-button" name="id" th:value="${p.Id}">vis</button>
                </form>
                </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>

<div class="admin-functions" >
    <h2>ADMINISTRATOR FUNKTIONER</h2>
    <a th:href="@{/newproduct}">Tilføj nyt produkt</a>
    <a th:href="@{/uploadimage}">Tilføj nyt billede</a>
</div>

<footer>
    <p>Johannes Fog A/S<span>Firskovvej 20, 2800 Lyngby</span>CVR-nr. 16314439</p>
</footer>

</div>
</body>
</html>
