header {
    border: black solid 2px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    li {
        float: left;
    }

    li a {
        display: inline;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    li a:visited {
        color: black;
    }

    li a:hover {
        background-color: red;
    }
}

.header-info {
    display: flex;
    justify-content: space-around;

}

.nav {
    display: flex;
    border: red solid 2px;
    justify-content: space-between;
    align-items: center;

    img {
        height: 6rem;
        object-fit: fill;
        vertical-align: bottom;
    }



    li.dropdown-button {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {background-color: #f1f1f1;}

    .nav-categories-element:hover .dropdown-content {
        display: block;
    }
}

.main {
    margin-top: 140px;
    margin-bottom: 140px;
}

footer {
    text-align: center;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
}
