.search-result-filter-form-select-hidden {
    display: none;
}
.search-result-filter-form {
    display: flex;
    gap: 10px;
    padding: 4px;
    align-content: center;
    justify-content: space-evenly;
    ul {
        list-style-type: none;
    }
    .search-result-submit-ul {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        li {
        }
    }
    li {

    }
    input[type=submit] {
        height: 2rem;
        border: none;
        border-radius: 12px;
        padding: 8px;
        color: whitesmoke;
        background-color: #003d76;
    }
    input[type=submit]:hover {
        cursor: pointer;
        background-color: #003070;
    }
}


.search-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search-result-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
   /* grid-template-rows: 80px 160px;*/
    gap: 10px;

    a, a:visited {
        color: black;
    }

    .search-result-element {
        background-color: white;
        padding: 10px;
        width: 220px;
        height: 360px;
        text-decoration: none;

        img {
            width: 200px;
        }
    }
}

.search-result-filters {
        display: flex;
        /* position: relative; */
}

.search-result-filter-form-button {
        background-color: white;
        border: 2px solid black;
        height: 2rem;
        width: 6rem;
}

.search-result-filter-form-dropdown {
        display: none;
        background-color: white;
        position: absolute;
        /* min-width: 100%; */
        width: 8rem;
}

.search-result-filters:hover .search-result-filter-form-dropdown {
    border: 1px black solid;
    /* top: 2.2rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    margin-top: 2rem;
    display: inline-block;
}

.search-result-filter-form-dropdown-div {
    display: flex;
    /* min-width: 100%; */
    width: 100%;
    max-width: 100%;
}
