<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Brugeroprettelse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/user/brugeroprettelse.css" th:href="@{/css/user/brugeroprettelse.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/cupcakefavico32x32.png}">
    <link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/cupcakefavico48x48.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
<!-- BEGINNING OF NAV BAR -->
<div class="page">
    <header>
        <div class="header-info">
            <ul>
                <li><a href="">extra info</a></li>
                <li><a href="">extra info</a></li>
                <li><a href="">extra info</a></li>
                <li><a href="">extra info</a></li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <a href="../index.html">
                        <img src="../../public/images/foglogo.png" th:src="@{/images/foglogo.png}" alt=""/>
                    </a>
                </div>
                <div class="nav-categories">
                    <ul>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 1</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>

                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 2</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 3</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 4</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Maling</a>
                            <div class="dropdown-content">
                                <a href="#" th:href="@{/kategori?category=Indendørs}" >Indendørs</a>
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Carporte</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <!-- SPECIAL RULE FOR BYGSELV -->
                                <a href="#" th:href="@{/bygselvcarport}">Byg selv</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <form class="nav-search-form">
                        <button class="nav-search-button" type="submit" formaction="soegning">
                            <img src="../../public/images/magnifyingglass64x64.png" th:src="@{/images/magnifyingglass64x64.png}" alt=""/>
                        </button>
                        <label>
                            <input type="text" placeholder="Søg på produkter eller kategorier" name="searchString" id="searchString">
                        </label>
                        <!-- <button class="nav-search-cancel-button" type="button">luk</button> -->
                    </form>
                </div>
                <div class="nav-personal">
                    <ul>
                        <li><a href="">Fog Konto</a></li>
                        <li><a href="">Find Fog</a></li>
                        <li><a href="">Kurv</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </header>

    <!-- END OF NAV BAR -->
    <form action="/action_page.php" class="form-container">
        <div class="form-container">
            <h1>Opret konto</h1>
            <form action="/register" method="post">
                <section class="form-section">
                    <label for="user-type">Jeg er*</label>
                    <select id="user-type" name="user_type" required>
                        <option value="private">Privat</option>
                        <option value="business">Firma</option>
                    </select>

                    <label for="Fornavn">Fornavn*</label>
                    <input type="text" id="Fornavn" name="Fornavn" placeholder="Indtast Fornavn" required>

                    <label for="Efternavn">Efternavn*</label>
                    <input type="text" id="Efternavn" name="Efternavn" placeholder="Indtast Efternavn" required>

                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" placeholder="Indtast Email" required>

                    <label for="psw">Adgangskode*</label>
                    <input type="password" id="psw" name="psw" placeholder="Indtast Adgangskode" required>

                    <label for="psw-repeat">Gentag Adgangskode*</label>
                    <input type="password" id="psw-repeat" name="psw-repeat" placeholder="Gentag Adgangskode" required>
                </section>

                <section class="form-section">
                    <h2>Din adresse</h2>
                    <label for="address">Gadenavn*</label>
                    <input type="text" id="address" name="address" placeholder="Indtast adresse..." required>

                    <label for="zip">Postnummer*</label>
                    <input type="text" id="zip" name="zip" placeholder="Indtast postnummer..." required>

                    <label for="city">By*</label>
                    <input type="text" id="city" name="city" placeholder="Indtast bynavn..." required>

                    <label for="country">Land*</label>
                    <select id="country" name="country" required>
                        <option value="Denmark">Danmark</option>
                    </select>

                    <label for="phone">Telefonnummer*</label>
                    <input type="text" id="phone" name="phone" placeholder="Indtast telefonnummer..." required>
                </section>

                <button type="submit" class="registerbtn">Registrer</button>
            </form>
            <div class="container signin">
                <p>Allerede registreret? <a href="login.html">Log ind</a>.</p>
            </div>
</body>
</html>
