<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Tilbud</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/byg-selv.css" th:href="@{/css/byg-selv.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/cupcakefavico32x32.png}">
    <link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/cupcakefavico48x48.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
<!-- BEGINNING OF NAV BAR -->
<div class="page">
    <header>
        <div class="header-info">
            <ul>
                <li><a href="">30 dages returret</a></li>
                <li><a href="">Klik og hent inden for 3 timer*</a></li>
                <li><a href="">1-3 dages levering*</a></li>
                <li><a href="">Lån en trailer gratis</a></li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <a href="index.html">
                        <img src="../public/images/foglogo.png" th:src="@{/images/foglogo.png}" alt=""/>
                    </a>
                </div>
                <div class="nav-categories">
                    <ul>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 1</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>

                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 2</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 3</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 4</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Maling</a>
                            <div class="dropdown-content">
                                <a href="#" th:href="@{/kategori?category=indendørs}" >Indendørs</a>
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Carporte</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <!-- SPECIAL RULE FOR BYGSELV -->
                                <a href="byg-carport.html" th:href="@{/bygselvcarport}">Byg selv</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <form class="nav-search-form">
                        <button class="nav-search-button" type="submit" formaction="soegning">
                            <img src="../public/images/magnifyingglass64x64.png" th:src="@{/images/magnifyingglass64x64.png}"  alt=""/>
                        </button>
                        <label>
                            <input type="text" placeholder="Søg på produkter eller kategorier" name="searchString" id="searchString">
                        </label>
                        <!-- <button class="nav-search-cancel-button" type="button">luk</button> -->
                    </form>
                </div>
                <div class="nav-personal">
                    <ul>
                        <li><a href="">Fog Konto</a></li>
                        <li><a href="">Find Fog</a></li>
                        <li><a href="">Kurv</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <!-- END OF NAV BAR -->
    <div class="main">
        <section class="container-svg">
            <div class="headline">
                <h2>Tilbud</h2>
                <p>Her ser du prisen og en skitsetegning på en carport med de specialmål du ønskede.<br>
                    NB! Du kan til hver en tid gå tilbage og rette i dit tilbud.</p>
            </div>
            <div class="contain d-flex">
                <div class="carport-container d-flex">
                    <div class="carport">
                        <img src="../public/images/carport.png" th:src="@{/images/carport.png}"  alt=""/>
                        <img src="../public/images/carport-measurements.png" th:src="@{/images/carport-measurements.png}"  alt=""/>
                    </div>
                    <div class="carport-offer">
                        <h2>Pris på carport</h2>
                        <h5>Dimension:</h5>
                        <p>6,0 X 7,8 MTR</p>
                        <h5>Trapeztag:</h5>
                        <p>Plasttrapezplader</p>
                        <h5>Redskabsrum:</h5>
                        <p>Med redskabsrum</p>
                        <h3>Pris:<br><br>
                            17.590 kr,-</h3>
                        <button type="submit" formaction="byg-selv">Ret i tilbud</button>
                        <button id="submit-request" type="submit" formaction="forespoergelse">Send forespørgelse</button>
                    </div>
                </div>
            </div>

        </section>


        <!--div class="carport">
            <div class="carport-img">
                <img src="../public/images/carport.png" th:src="@{/images/carport.png}"  alt=""/>
            </div>
        <div class="carport-img">
            <img src="../public/images/carport-measurements.png" th:src="@{/images/carport-measurements.png}"  alt=""/>
        </div>
        </div>
    </div>
        <section-- class="container-svg">
            <h2>Pris på carport</h2>
        </section-->
    </div>

    <footer>
        <p>&nbsp;&nbsp;&nbsp;Johannes Fog A/S<span>Firskovvej 20, 2800 Lyngby</span>CVR-nr. 16314439</p>
    </footer>

</div>
</body>
</html>